$color-primary-light: #d4145ad5;
$color-primary-dark: #fbb13be2;
$color-text: maroon;
$color-bg-white: whitesmoke;
$color-black: #000;
$color-light-grey-1 : #f7f7f7;
$grid-width : 114rem;
$grid-height : 3rem;
$horizontal-space : 8rem;
$vertical-space: 6rem;