$color-primary-light: #4E65FF;
$color-primary-dark: #92EFFD;
$color-primary: #fbb13fe9;

$color-text: maroon;
$color-bg-white: whitesmoke;
$color-black: #000;

$color-light-grey-1 : #f7f7f7;
//$color-light-grey-1 : red;

//GRID
$grid-width : 114rem;
$grid-height : 3rem;
$horizontal-space : 6rem;
$vertical-space: 8rem;

//fonts
$default-font-size: 1.6rem;